.board {
	width : auto;
}
.team1, .team2, .timer {
	float : left;
	text-align: center;
	margin-top: 50px;
}

.team1, .team2 {
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
}

.team1 {
	margin-left: 350px;
}

.team2 {
	margin-right: 350px;
}

.timer {
	margin-right: 100px;
	margin-left : 100px;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
}

.pause, .lecture {
	float: left;
}

.pause {
	margin-right: 10px;
}