{% extends "ScoreBoardBundle::layout.html.twig" %}

{% block content %}
<h1 class="contact">Page match</h1>
<div class="Board">
	<div class="team1">
		<h2>Team1</h2>
		<p>image team1 ici</p><img src=""/>
	</div>
	<div class="timer">
		<p>20:00</p>
		<p class="pause">pause</p>
		<p class="lecture">lecture</p>
	</div>
	<div class="team2">
		<h2>Team2</h2>
		<p>image team2 ici</p><img src="" />
	</div>
</div>
<div class="Score">
	<h2>Score</h2>
	<div class="score1">
	</div>
	<div class="score2">
	</div>
</div>
{% endblock %}